@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: #09090b; /* zinc-950 */
  color: #fafafa; /* zinc-50 */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}
